In [66]:
def read_data(filename):
    """Returns a list of lists representing the rows of the csv file data.

    Arguments: filename is the name of a csv file (as a string)
    Returns: list of lists of strings, where every line is split into a list of values. 
        ex: ['Arsenal', 38, 26, 9, 3, 79, 36, 87]
    """
    f = open(filename,'r')
    footballTable = []
    firstrow = True
    for line in f:
        row = line.replace('\n','').split(',')
        if firstrow:
            firstrow = False
        else:
            for i in range(1,len(row)):
                row[i] = int(row[i])
            footballTable.append(row)
    f.close()
    return footballTable

In [74]:
footballTable = read_data('football.csv')
footballTable

[['Arsenal', 38, 26, 9, 3, 79, 36, 87],
 ['Liverpool', 38, 24, 8, 6, 67, 30, 80],
 ['Manchester United', 38, 24, 5, 9, 87, 45, 77],
 ['Newcastle', 38, 21, 8, 9, 74, 52, 71],
 ['Leeds', 38, 18, 12, 8, 53, 37, 66],
 ['Chelsea', 38, 17, 13, 8, 66, 38, 64],
 ['West_Ham', 38, 15, 8, 15, 48, 57, 53],
 ['Aston_Villa', 38, 12, 14, 12, 46, 47, 50],
 ['Tottenham', 38, 14, 8, 16, 49, 53, 50],
 ['Blackburn', 38, 12, 10, 16, 55, 51, 46],
 ['Southampton', 38, 12, 9, 17, 46, 54, 45],
 ['Middlesbrough', 38, 12, 9, 17, 35, 47, 45],
 ['Fulham', 38, 10, 14, 14, 36, 44, 44],
 ['Charlton', 38, 10, 14, 14, 38, 49, 44],
 ['Everton', 38, 11, 10, 17, 45, 57, 43],
 ['Bolton', 38, 9, 13, 16, 44, 62, 40],
 ['Sunderland', 38, 10, 10, 18, 29, 51, 40],
 ['Ipswich', 38, 9, 9, 20, 41, 64, 36],
 ['Derby', 38, 8, 6, 24, 33, 63, 30],
 ['Leicester', 38, 5, 13, 20, 30, 64, 28]]

In [121]:
def get_index_with_min_abs_score_difference(goals):
    """Returns the index of the team with the smallest difference
    between 'for' and 'against' goals, in terms of absolute value.

    Arguments: parsed_data is a list of lists of cleaned strings
    Returns: integer row index
    """
    i=0
    for team in goals:
        if i==0:
            index_of_smallest_diff = 0
            smallest_diff = abs(team[5]-team[6])
            i += 1
        else:
            if abs(team[5]-team[6])<smallest_diff:
                index_of_smallest_diff = i
                smallest_diff = abs(team[5]-team[6])
            i += 1
    return index_of_smallest_diff

In [122]:
index_value = get_index_with_min_abs_score_difference(footballTable)
index_value

7

In [123]:
def get_team(index_value, parsed_data):
    """Returns the team name at a given index.
    
    Arguments: index_value is an integer row index
               parsed_data is the output of `read_data` above
               
    Returns: the team name
    """
    return parsed_data[index_value][0]

In [124]:
get_team(index_value,footballTable)

'Aston_Villa'