In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
pd.__version__

'0.25.1'

Source for data file: http://s3.amazonaws.com/istreet-assets/cqj0wXOp6sICdTRWc5X2cw/olive.csv.txt

Data Description: 572 olive oil samples from 3 different resions (and 9 sub-regions) of Italy; for each sample the normalized concentrations of 8 fatty acids are given.  Source: http://www2.chemie.uni-erlangen.de/publications/ANN-book/datasets/oliveoil/
Supplemental report: http://www.public.iastate.edu/~dicook/stat503/05/cs-olive.pdf

In [ ]:
# Q1: import numpy and pandas  (done above in this notebook)

In [ ]:
# Q2: Set options in pandas so it displays 30 `max_rows` 
#                                 no limit on `max_columns`
#                                 precision is 3

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [ ]:
# Q3: assign the versions of pandas and numpy to variables below

In [4]:
pd_version = pd.__version__
np_version = np.__version__

In [ ]:
# Q4: Read in the csv file "olive.csv" with pandas. 
#     The filename is stored in the variable `olive_path`
#     Assign it to variable `df`

In [5]:
olive_path = 'http://s3.amazonaws.com/istreet-assets/cqj0wXOp6sICdTRWc5X2cw/olive.csv.txt'

In [6]:
df = pd.read_csv(olive_path)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 11 columns):
Unnamed: 0     572 non-null object
region         572 non-null int64
area           572 non-null int64
palmitic       572 non-null int64
palmitoleic    572 non-null int64
stearic        572 non-null int64
oleic          572 non-null int64
linoleic       572 non-null int64
linolenic      572 non-null int64
arachidic      572 non-null int64
eicosenoic     572 non-null int64
dtypes: int64(10), object(1)
memory usage: 49.3+ KB

In [ ]:
# Q5: How many rows and columns are there in `df`? Put your answer in a variable `df_shape`.

In [8]:
df_shape = df.shape
df_shape

(572, 11)

In [ ]:
# Q6: assign the first 2 rows of `df` to `df_first_two`

In [9]:
df_first_two = df.iloc[0:2]
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

In [ ]:
# Q7: How many distinct data types are there in `df`?

In [10]:
df_data_types_count = len(df.dtypes.unique())
df_data_types_count

2

In [ ]:
# Q8: In `df`, create a new column 'sub_region_raw', which will be a copy of the column 'Unnamed: 0'

In [11]:
df['sub_region_raw']=df['Unnamed: 0']
df.head(2)

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia

In [ ]:
# Q9: In `df`, rename 'Unnamed: 0' to 'sub_region_desc'

In [12]:
df.rename(columns={'Unnamed: 0': 'sub_region_desc'}, inplace=True)
df.head(2)

,sub_region_desc,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia

In [ ]:
# Q10: In `df`, rename the column 'area' to: 'sub_region'

In [13]:
df.rename(columns={'area': 'sub_region'}, inplace=True)
df.head(2)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia

In [ ]:
# Q11: In `df`, get the unique values of the field 'region'

In [14]:
region_unique = df.sub_region.unique()
region_unique

array([1, 2, 3, 4, 5, 6, 9, 7, 8])

In [ ]:
# Q12: In `df`, how many unique values of the field 'sub_region' are there?

In [15]:
sub_region_unique_count = len(region_unique)
sub_region_unique_count

9

# Q13: Lets take a look at the field `sub_region_desc`:

>>> df['sub_region_desc'].head(5)
0    1.North-Apulia
1    2.North-Apulia
2    3.North-Apulia
3    4.North-Apulia
4    5.North-Apulia

Looks like 'sub_region_desc' has line numbers attached to the beginning of region name. Remove those and get the unique values in that field, assign it to `srd_unique`

In [16]:
df.sub_region_desc = [region[region.find('.')+1:] for region in df.sub_region_desc]

In [17]:
df.head(2)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia

In [18]:
df.tail(2)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
570,West-Liguria,3,8,990,120,250,7750,870,10,10,2,571.West-Liguria
571,West-Liguria,3,8,960,80,240,7950,740,10,20,2,572.West-Liguria

In [19]:
srd_unique = df.sub_region_desc.unique()
srd_unique

array(['North-Apulia', 'Calabria', 'South-Apulia', 'Sicily',
       'Inland-Sardinia', 'Coast-Sardinia', 'Umbria', 'East-Liguria',
       'West-Liguria'], dtype=object)